@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

@font-face {
  font-family: "GroteskBold";
  src: url("~assets/GroteskBold.woff") format('woff');
}


* {
  font-family: GroteskBold;
}

.grotesque {
  font-family: 'Darker Grotesque', sans-serif;
}

a {
  color: #999;
}

a:hover {
  text-decoration: underline;
}

.bg-dark {
  background: #222;
  color: #fff;
}

.x-large-text {
  font-size: 6rem;
  line-height: 0.99em;
  letter-spacing: -0.02em;
}

@media only screen and (max-device-width: 900px) and (min-device-width: 0px) {
  .x-large-text {
    font-size: 3rem;
    line-height: 0.99em;
    letter-spacing: -0.02em;
  }
}
